@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
html,
body {
  @apply h-full;
  scroll-snap-type: proximity;
  scroll-snap-type: y proximity;
}

section {
  height: 100vh;
}
